<% if conversations.any? %>
  <ul class="divide-y" style="height: calc(100vh - 180px)">
    <% conversations.each do |conversation| %>
      <%= render "conversations/conversation_item", conversation: conversation, current_conversation: current_conversation, current_user: current_user %>
    <% end %>
  </ul>
<% else %>
  <div class="p-4 text-center text-gray-500">
    <p>No conversations yet.</p>
    <p class="mt-2">Start by exploring mentors or projects!</p>
  </div>
<% end %>
