<div class="bg-white shadow-sm rounded-lg">
  <h1 class="text-2xl font-bold text-gray-900 p-4 border-b">Messages</h1>
  
  <div class="flex h-[75vh]">
    <!-- Sidebar with conversation list -->
    <%= render "conversations/conversation_list", conversations: @conversations, current_conversation: @conversation, current_user: current_user %>
    
    <!-- Conversation content -->
    <div id="conversation_content" class="w-2/3 flex flex-col">
      <%= render "conversations/conversation_content", conversation: @conversation, messages: @messages, message: @message %>
    </div>
  </div>
</div>

<%= turbo_stream_from current_user %>
