<%# Displays achievements for a user %>
<ul class="list-disc pl-5 text-sm text-base-content/70">
  <li>Completed <%= user.my_agreements.completed.count %> collaboration(s)</li>
  <li>Launched <%= user.projects.count %> project(s)</li>
</ul>
