<% icon_partial = (type.to_s == "notice" ? "notice" : (type.to_s == "alert" ? "alert" : "alert")) %>
<% safe_message = if message.to_s.include?("<a ")
  sanitize(message.to_s, tags: %w[a], attributes: %w[href title target rel class])
   else
  h(message.to_s)
   end %>

<div class="alert <%= type == :notice ? "alert-success" : "alert-error" %> mb-6">
  <%= render "shared/icons/#{icon_partial}" %>
  <span><%= safe_message %></span>
</div>
