<% if object.errors.any? %>
  <%= ui_alert(variant: :error, css_class: "mb-6") do %>
    <div>
      <h3 class="text-sm font-medium">
        <%= pluralize(object.errors.count, "error") %> prohibited this <%= object.class.model_name.human.downcase %> from being saved:
      </h3>
      <ul class="list-disc pl-5 space-y-1 mt-2 text-sm">
        <% object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
