<% if object.errors.any? %>
  <div class="alert alert-error mb-6">
    <div class="flex">
      <div class="flex-shrink-0">
        <%= ui_icon("exclamation-triangle", class: "h-5 w-5") %>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium">
          <%= pluralize(object.errors.count, "error") %> prohibited this <%= object.class.model_name.human.downcase %> from being saved:
        </h3>
        <div class="mt-2 text-sm">
          <ul class="list-disc pl-5 space-y-1">
            <% object.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
