<div class="py-1" role="menu" aria-orientation="vertical">
  <% current_user.projects.each do |project| %>
    <%= button_to project.name,
      update_selected_project_path(project_id: project.id),
      method: :patch,
      form: { data: { turbo_frame: 'navbar-projects' } },
      class: "block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 #{'bg-indigo-100 font-bold' if current_user.selected_project_id == project.id}",
      role: "menuitem" %>
  <% end %>
</div>
