<%# Shows track record for a user, role-aware. %>
<ul class="list-disc list-inside">
  <% agreements.each do |agreement| %>
    <% presenter = present(agreement) %>
    <li>Mentored <%= agreement.initiator.full_name %> in <%= presenter.project_link %> (<%= agreement.created_at.strftime("%Y") %>)</li>
  <% end %>
</ul>
