<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight">Sign in</h2>
    <p class="mt-2 text-center text-sm text-base-content/70">
      Or
      <%= link_to "create a new account", new_registration_path(resource_name), class: "link link-primary font-medium" %>
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <%= render "form", resource: %>
      </div>
    </div>
  </div>
</div>
