<div class="px-4 sm:px-6 lg:px-8">
  <!-- Flash Messages Container -->
  <div id="flash_messages"></div>

  <!-- Filter Controls -->
  <%= render "filters" %>

  <!-- Agreement Results -->
  <div id="agreement_results">
    <%= render "agreement_results" %>
  </div>
</div>
